<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跳蚤广场</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.11/lib/index.css" />

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.11/lib/vant.min.js"></script>
    <!-- 引入axios的JS文件 -->
    <script src="../js/axios.min.js"></script>
    <!-- 这里引入外部文件的字体图标样式 -->
    <link rel="stylesheet" href="../css/iconfont.css" />
    <style type="text/css">
        .search {
            display: block;
            top: 0;
            z-index: 10;
        }

        .groudInfo img,
        .recommendInfo img {
            width: 8rem;
            height: 10rem;
            margin-left: 1rem;
            margin-right: 0.3rem;
            border-radius: 1.5rem;
            vertical-align: top;
        }

        .groudInfo li,
        .recommendInfo li {
            margin-bottom: 1.5rem;
            border-bottom: 0.1rem solid #eee;
        }

        .groudInfo .content,
        .recommendInfo .content {
            position: relative;
            display: inline-block;
            width: 14.5rem;
        }

        .groudInfo .content h4,
        .recommendInfo .content h4 {
            margin: 0.2rem 0;
        }

        .groudInfo .content p,
        .recommendInfo .content p {
            margin: 0.1rem 0;
            height: 2.7rem;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .groudInfo .content .prize,
        .recommendInfo .content .prize {
            color: red;
            font-size: 1.3rem;
        }

        .groudInfo .content .want,
        .recommendInfo .content .want {
            float: right;
            margin-top: 0.6rem;
            color: gray;
            font-size: 0.5rem;
        }

        .groudInfo .content .publisherHead,
        .recommendInfo .content .publisherHead {
            position: absolute;
            top: 7.3rem;
            left: -1rem;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
        }

        .groudInfo .content .publishName,
        .recommendInfo .content .publishName {
            font-size: 0.2rem;
            position: absolute;
            top: 8rem;
            left: 2.2rem;
        }

        .groudInfo .content .credit,
        .recommendInfo .content .credit {
            font-size: 0.1rem;
            position: absolute;
            right: 0;
            top: 8rem;
        }

        .footer {
            height: 2rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <van-tabs v-model="headTabActive" animated sticky @click="recommendStart">
            <van-tab title="广场">
                <div class="search">
                    <van-search v-model="searchValue" placeholder="请输入搜索关键词" shape="round" />
                </div>
                <div class="groudInfo">
                    <ul>
                        <li v-for="(item,index) in vagueSearchList" :key=item @click="groudGoToDetails(item)">
                            <img :src="item.imgurl[0]">
                            <div class="content">
                                <h4>{{item.good}}</h4>
                                <p>{{item.info}}</p>
                                <span class="prize">￥{{item.prize}}</span>
                                <span class="want">{{item.want}}人想要</span>
                                <img class="publisherHead" :src="item.publisher.headurl">
                                <span class="publishName">{{item.publisher.name}}</span>
                                <div class="credit">
                                    <van-icon name="fire" color="#1D82FE" />
                                    <span>信用{{item.publisher.credit}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </van-tab>
            <van-tab title="推荐">
                <div class="recommendInfo">
                    <ul>
                        <li v-for="(item,index) in recommendList" :key=item @click="recommendGoToDetails(item)">
                            <img :src="item.imgurl[0]">
                            <div class="content">
                                <h4>{{item.good}}</h4>
                                <p>{{item.info}}</p>
                                <span class="prize">￥{{item.prize}}</span>
                                <span class="want">{{item.want}}人想要</span>
                                <img class="publisherHead" :src="item.publisher.headurl">
                                <span class="publishName">{{item.publisher.name}}</span>
                                <div class="credit">
                                    <van-icon name="fire" color="#1D82FE" />
                                    <span>信用{{item.publisher.credit}}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </van-tab>
        </van-tabs>
        <div class="footer">
            <van-tabbar v-model="tabActive" active-color="#DF5523" @change="tabChange">
                <van-tabbar-item :icon="fleaIcon">跳蚤</van-tabbar-item>
                <van-tabbar-item :icon="publishIcon" @click="goToPublish">发布</van-tabbar-item>
                <van-tabbar-item :icon="shopcarIcon" @click="goToShopcar">购物车</van-tabbar-item>
                <van-tabbar-item :icon="meIcon" @click="goToMe" :dot="ifDot">我的</van-tabbar-item>
            </van-tabbar>
        </div>
    </div>
</body>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            searchValue: "",
            headTabActive: 0,
            tabActive: 0,
            fleaIcon: "hot",
            publishIcon: "share-o",
            shopcarIcon: "shopping-cart-o",
            meIcon: "manager-o",
            groudList: [],
            userInfo: [],
            userTags: [],
            ifNewUser: false,
            ifDot: false,
            // 生成的推荐列表
            recommendList: []
        },
        computed: {
            // 模糊查询
            vagueSearchList: function () {
                return this.groudList.filter(item => item.good.includes(this.searchValue));
            }
        },
        methods: {
            // 当点击的标签出现变化时，判断是哪一个标签，并把样式修改一下
            tabChange: function () {
                switch (this.tabActive) {
                    case 0: {
                        this.fleaIcon = "hot";
                        this.publishIcon = "share-o";
                        this.shopcarIcon = "shopping-cart-o";
                        this.meIcon = "manager-o";
                        break;
                    };
                    case 1: {
                        this.fleaIcon = "hot-o";
                        this.publishIcon = "share";
                        this.shopcarIcon = "shopping-cart-o";
                        this.meIcon = "manager-o";
                        break;
                    };
                    case 2: {
                        this.fleaIcon = "hot-o";
                        this.publishIcon = "share-o";
                        this.shopcarIcon = "shopping-cart";
                        this.meIcon = "manager-o";
                        break;
                    };
                    case 3: {
                        this.fleaIcon = "hot-o";
                        this.publishIcon = "share-o";
                        this.shopcarIcon = "shopping-cart-o";
                        this.meIcon = "manager";
                        break;
                    }
                }
            },
            goToPublish: function () {
                window.location.href = "./publish.html";
            },
            goToShopcar: function () {
                window.location.href = "./shopcar.html";
            },
            goToMe: function () {
                window.location.href = "./me.html";
            },
            groudGoToDetails: function (item) {
                console.log(this.groudList);
                window.location.href = "./details.html";
                sessionStorage.setItem("good", item.good);
            },
            recommendGoToDetails: function (item) {
                window.location.href = "./details.html";
                sessionStorage.setItem("good", item.good);
            },
            // 点击推荐，就进行推荐计算
            recommendStart: function (name) {
                if (name === 1) {
                    console.log(this.groudList);
                    let recommendList = [];
                    // 在这里进行K-means聚类机器学习，把每类的最高分的部分商品进行推荐
                    // 初始化一些数据
                    let k = 3;             //划分的类的数目
                    let n = 10;            //最大迭代次数
                    let centers = [];      //中心点数据数组
                    let centerIndexs = []; //中心点数据下标数组
                    let typeArray = [[], [], []];    //这个数组是包含类型数组的数组
                    // 一个函数用于获取两个样本点数据之间的距离平方
                    const getDistance = function (obj1, obj2) {
                        let dis = Math.pow(Number(obj1.want) - Number(obj2.want), 2)
                            + Math.pow(Number(obj1.prize) - Number(obj2.prize), 2)
                            + Math.pow(Number(obj1.browse) - Number(obj2.browse), 2)
                            + Math.pow(Number(obj1.comment[0].rate) - Number(obj2.comment[0].rate), 2);
                        return dis;
                    };
                    // 声明一个函数用于获取距离最大的几个中心点，这里是3个中心点
                    const getCenter = function (data) {
                        // 在所有数据中随机选择三个中心点
                        let firstIndex = parseInt(Math.random() * data.length);
                        centers.push(data[firstIndex]);
                        centerIndexs.push(firstIndex);

                        let secondIndex = parseInt(Math.random() * data.length);
                        if (secondIndex === firstIndex) {
                            secondIndex = parseInt(Math.random() * data.length);
                        }
                        centers.push(data[secondIndex]);
                        centerIndexs.push(secondIndex);

                        let thirdIndex = parseInt(Math.random() * data.length);
                        if (thirdIndex === firstIndex || thirdIndex === secondIndex) {
                            thirdIndex = parseInt(Math.random() * data.length);
                        }
                        centers.push(data[thirdIndex]);
                        centerIndexs.push(thirdIndex);
                    }
                    // 声明一个函数进行最小距离原则进行分配到最近聚类
                    const allocate = function (data) {
                        for (let i = 0; i < data.length; i++) {
                            let dis = 99999999999999, type = -1;
                            if (centerIndexs.indexOf(i) === -1) {
                                for (let j = 0; j < k; j++) {
                                    let tempDis = getDistance(data[i], data[centerIndexs[j]]);
                                    if (tempDis < dis) {
                                        dis = tempDis;
                                        type = j;
                                    }
                                }
                                typeArray[type].push(data[i]);
                            }

                        }
                    }
                    // 声明一个中心点更新函数，使用每个聚类的样本均值更新聚类中心
                    const updataCenter = function (data) {
                        if (centers.length === 3 || centerIndexs.length === 3) {
                            centers = [];
                            centerIndexs = [];
                            let index = -1;
                            let dis = 99999999999999999999;
                            for (let i = 0; i < data.length; i++) {

                                let tempDis = 0;
                                for (let j = 0; j < data.length; j++) {
                                    tempDis += getDistance(data[i], data[j]);
                                }
                                if (tempDis < dis) {
                                    dis = tempDis;
                                    index = i;
                                }
                            }
                            centerIndexs.push(data[index].index);
                            centers.push(data[index]);
                        }
                        else {
                            let index = -1;
                            let dis = 99999999999999999999;
                            for (let i = 0; i < data.length; i++) {

                                let tempDis = 0;
                                for (let j = 0; j < data.length; j++) {
                                    tempDis += getDistance(data[i], data[j]);
                                }
                                if (tempDis < dis) {
                                    dis = tempDis;
                                    index = i;
                                }
                            }
                            centerIndexs.push(data[index].index);
                            centers.push(data[index]);
                        }

                    }
                    getCenter(this.groudList);
                    allocate(this.groudList);
                    console.log(centerIndexs, centers);
                    console.log(typeArray);
                    for (let i = 0; i < 10; i++) {
                        for (let i = 0; i < typeArray.length; i++) {
                            updataCenter(typeArray[i]);
                        }
                        allocate(this.groudList);
                        console.log(centerIndexs, centers);
                    }
                    for (let i = 0; i < typeArray.length; i++) {
                        for (let j = 0; j < 10; j++) {
                            console.log(typeArray[i][j]);
                            console.log(this.recommendList);
                            recommendList.push(typeArray[i][j]);
                        }
                    }

                    
                    // 通过皮尔逊相关系数算法计算用户间的相似度，获得推荐列表
                    // 如果不是新用户，就用皮尔逊相似度算法计算用户相似度和标签一起进行推荐
                    if (this.ifNewUser === false) {
                        // 这个对象数组包含最后所有的用户对应的皮尔逊相关系数
                        let pearsonArray = [];
                        // 声明一个数组来存储要推荐的商品名称
                        let allGood = [];
                        // 声明一个包含推荐商品所有信息的对象数组

                        let currentUserId = sessionStorage.getItem("id");
                        let gradeObj = {};
                        let currentUser = {};
                        // 声明一个皮尔逊相关计算函数
                        const PearsonSimilarity = function (array1, array2) {
                            // 两个数组的和
                            let sumArray1 = 0;
                            let sumArray2 = 0;
                            // 两个数组的平均值
                            let averageArray1 = 0;
                            let averageArray2 = 0;
                            // 两个数组的平均差数组
                            let meanDeviationArray1 = [];
                            let meanDeviationArray2 = [];
                            let numerator = 0;                 //分子
                            let denominator = 0;               //分母
                            // 两个数组的平方差
                            let sumSquareDeviation1 = 0;
                            let sumSquareDeviation2 = 0;
                            for (let i = array1.length - 1; i >= 0; i--) {
                                sumArray1 += array1[i];
                            }
                            for (let j = array2.length - 1; j >= 0; j--) {
                                sumArray2 += array2[j];
                            }
                            averageArray1 = (sumArray1 / array1.length).toFixed(2);
                            averageArray2 = (sumArray2 / array2.length).toFixed(2);
                            for (let p = array1.length - 1; p >= 0; p--) {
                                meanDeviationArray1.push(parseFloat((array1[p] - averageArray1).toFixed(2)));
                            }
                            for (let q = array1.length - 1; q >= 0; q--) {
                                meanDeviationArray2.push(parseFloat((array2[q] - averageArray2).toFixed(2)));
                            }
                            for (let m = meanDeviationArray1.length - 1; m >= 0; m--) {
                                numerator += meanDeviationArray1[m] * meanDeviationArray2[m];
                            }
                            for (let n = meanDeviationArray1.length - 1; n >= 0; n--) {
                                sumSquareDeviation1 += Math.pow(meanDeviationArray1[n], 2);
                                sumSquareDeviation2 += Math.pow(meanDeviationArray2[n], 2);
                                denominator = Math.pow(sumSquareDeviation1 * sumSquareDeviation2, 1 / 2);
                            }
                            return Math.abs((numerator / denominator).toFixed(2));
                        }
                        // 声明一个可以把字符串类型的数组转化为数值类型的函数
                        const changeToNumber = function (array) {
                            return array.map(Number);
                        }
                        for (let i = 0; i < this.userInfo.length; i++) {
                            // 当没有grade属性的时直接跳过
                            if (this.userInfo[i].grade === undefined) {
                                continue;
                            }
                            // 遍历并进行两两的皮尔逊相关系数计算
                            else if (currentUserId === this.userInfo[i].user.id) {
                                let currentUserGrade = this.userInfo[i].grade;
                                let currentUserGradeLength = this.userInfo[i].grade.length;
                                for (let j = 0; j < this.userInfo.length; j++) {
                                    // 评分不为空定义的其余用户，且数组长度相同
                                    if (this.userInfo[j].grade != undefined && this.userInfo[j].user.id != currentUserId && this.userInfo[j].grade.length === currentUserGradeLength) {
                                        let value = PearsonSimilarity(changeToNumber(this.userInfo[j].grade), changeToNumber(currentUserGrade));
                                        pearsonArray.push({
                                            "id": this.userInfo[j].user.id,
                                            "value": value
                                        });
                                    }
                                }
                                break;
                            }
                        }
                        // 冒泡排序来把用户相似度降序排序
                        for (let i = 0; i < pearsonArray.length; i++) {
                            for (let j = 0; j < pearsonArray.length - 1 - i; j++) {
                                if (Object.values(pearsonArray[j])[1] < Object.values(pearsonArray[j + 1])[1]) {
                                    let temp = pearsonArray[j];
                                    pearsonArray[j] = pearsonArray[j + 1];
                                    pearsonArray[j + 1] = temp;
                                }
                            }
                        }
                        // 找到最相似的用户购物历史商品信息
                        for (let i = 0; i < this.userInfo.length; i++) {
                            if (this.userInfo[i].user.id === pearsonArray[0].id) {
                                for (let j = 0; j < this.userInfo[i].history.length; j++) {
                                    allGood.push(this.userInfo[i].history[j].good);
                                }
                            }
                        }
                        // 在广场数据中找到有类似标签的物品并推荐
                        for (let i = 0; i < this.userTags.length; i++) {
                            for (let j = 0; j < this.groudList.length; j++) {
                                if (this.groudList[j].tags.includes(this.userTags[i])) {
                                    recommendList.push(this.groudList[j]);
                                }
                            }
                        }
                        // 在广场中找到这些商品并生成商品数组，遍历出来即可展示到推荐
                        for (let i = 0; i < allGood.length; i++) {
                            for (let j = 0; j < this.groudList.length; j++) {
                                if (this.groudList[j].good === allGood[i]) {
                                    recommendList.push(this.groudList[j]);
                                    break;
                                }
                            }
                        }
                    }
                    // 如果是新用户，就用相同的标签进行推荐
                    else if (this.ifNewUser === true) {
                        // 在广场数据中找到有类似标签的物品并推荐
                        for (let i = 0; i < this.userTags.length; i++) {
                            for (let j = 0; j < this.groudList.length; j++) {
                                if (this.groudList[j].tags.includes(this.userTags[i])) {
                                    recommendList.push(this.groudList[j]);
                                }
                            }
                        }
                    }
                    // 过滤掉推荐数组中重复的部分
                    for (let i = 0; i < recommendList.length - 1; i++) {
                        for (let j = i + 1; j < recommendList.length; j++) {
                            if (recommendList[i].good === recommendList[j].good) {
                                recommendList.splice(j, 1);
                            }
                        }
                    }
                    this.recommendList = recommendList;
                }
            }
        },
        beforeMount: function () {
            vant.Toast.loading({
                message: '加载中...',
                forbidClick: true,
            });
        },
        mounted: function () {
            axios.get("http://localhost:5502/getGroundInfo").then(res => {
                vant.Toast.clear;
                this.groudList = res.data.reverse();
                for (let i = 0; i < this.groudList.length; i++) {
                    this.groudList[i].index = i;
                }
            });
            axios.get("http://localhost:5502/getUserInfo").then(res => {
                this.userInfo = res.data;
                console.log(this.userInfo);
                let currentUserId = sessionStorage.getItem("id");
                for (let i = this.userInfo.length - 1; i >= 0; i--) {
                    if (this.userInfo[i].user.id === currentUserId) {
                        this.userTags = this.userInfo[i].tags;
                        // 判断是否是新用户
                        if (this.userInfo[i].history === undefined || this.userInfo[i].shopcar === undefined || this.userInfo[i].history.length === 0 || this.userInfo[i].shopcar.length === 0 || this.userInfo[i].grade === undefined || this.userInfo[i].grade.length === 0) {
                            this.ifNewUser = true;
                        }
                        // 判断是否都已经评分
                        if (this.userInfo[i].grade === undefined && this.userInfo[i].history != undefined) {
                            this.ifDot = true;
                        }
                        if (this.userInfo[i].grade != undefined && this.userInfo[i].grade.length < this.userInfo[i].history.length) {
                            this.ifDot = true;
                        }
                        if (this.userInfo[i].grade === undefined && this.userInfo[i].history.length === 0) {
                            this.ifDot = false;
                        }
                    }
                }
            });
        }
    })
</script>

</html>