<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.11/lib/index.css" />

    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.11/lib/vant.min.js"></script>
    <!-- 引入axios的JS文件 -->
    <script src="../js/axios.min.js"></script>
    <!-- 引入qs的js文件 -->
    <script src="https://cdn.bootcss.com/qs/6.7.0/qs.min.js"></script>
    <!-- 这里引入外部文件的字体图标样式 -->
    <link rel="stylesheet" href="../css/iconfont.css" />
    <style type="text/css">
        .van-submit-bar {
            margin-bottom: 3.1rem;
        }

        .goodInfo {
            margin-bottom: 5rem;
        }

        .goodInfo h2 {
            margin: 0.1rem 0 1rem 1rem;
            color: red;
        }

        .van-checkbox-group {
            display: inline-block;
            margin-left: 0.5rem;
            position: relative;
            top: 2rem;
        }

        .van-card {
            display: inline-block;
            width: 23rem;
            margin-left: 2rem;
            top: -2.2rem;
        }

        .van-submit-bar__bar .van-checkbox {
            position: absolute;
            left: 2rem;
        }

        .noGoodInfo {
            text-align: center;
            top: 50%;
            transform: translateY(50%);
        }

        .noGoodInfo img {
            width: 10rem;
            height: 10rem;
        }

        .buySheet .content {
            padding: 16px 16px 0;
        }

        .buySheet .van-address-edit__buttons {
            position: relative;
        }

        .buySheet .van-address-edit__buttons .van-button {
            position: absolute;
            left: 0.1rem;
        }

        .buySheet .content img {
            width: 7rem;
            height: 7rem;
            vertical-align: top;
        }

        .buySheet .content p span {
            color: red;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .buySheet .content .right {
            display: inline-block;
        }

        .buySheet .content .right :first-child {
            color: red;
            font-size: 2rem;
            font-weight: 600;
        }

        .buySheet .content .right :nth-child(2) {
            color: silver;
            font-size: 0.5rem;
            font-weight: 400;
        }

        .buySheet .content .right p {
            font-size: 1.5rem;
            color: #969799;
            font-weight: 700;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="navbar">
            <van-nav-bar left-text="购物车" :right-text="navbarRightText" @click-right="manageShops" fixed placeholder />
        </div>
        <div class="goodInfo" v-if="shopcar.length != 0">
            <h2>全部商品</h2>
            <ul>
                <li v-for="(item,index) in shopcar" :key="item">
                    <van-checkbox-group v-model="checkResult" @change="singleGoodChecked">
                        <van-checkbox :name="item"></van-checkbox>
                    </van-checkbox-group>
                    <van-card :price="item.prize" :desc="item.info" :title="item.good" :thumb="item.imgurl"
                        :num="item.count">

                    </van-card>
                </li>
            </ul>
            <div class="submitBar" v-if="ifManage === false">
                <van-submit-bar :price="total" button-text="提交订单" @submit="buy">
                    <van-checkbox v-model="ifAllChecked" @click="allGoodChecked">全选</van-checkbox>
                </van-submit-bar>
            </div>
            <div class="manageBar" v-else>
                <van-submit-bar button-text="删除" @submit="deleteShopcar">
                    <van-checkbox v-model="ifAllChecked" @click="allGoodChecked">全选</van-checkbox>
                </van-submit-bar>
            </div>
            <div class="buySheet">
                <van-action-sheet v-model="ifBuySheetShow" title="确认信息">
                    <div class="content">
                        <ul>
                            <li v-for="item in checkResult">
                                <img :src="item.imgurl" alt="商品图片">
                                <div class="right">
                                    <span>￥{{item.prize}}</span>
                                    <span>×{{item.count}}</span>
                                    <p>{{item.good}}</p>
                                </div>
                            </li>
                        </ul>
                        <p> 总金额：<span>￥{{total/100}}</span></p>
                        <van-address-edit :area-list="areaList" show-set-default save-button-text="购买" @save="pay" />
                    </div>
                </van-action-sheet>
            </div>
        </div>
        <div class="noGoodInfo" v-else-if="shopcar.length === 0 || shopcar === undefined">
            <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fa.mayouwang.com%2Faddons%2Fmihua_mall%2Frecouse%2Fimages%2Femptycart.png&refer=http%3A%2F%2Fa.mayouwang.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1612518225&t=6829eafe5525bdd22f26eb762a25e6b8"
                alt="购物车空空如也">
            <h4>你的购物车空空如也</h4>
        </div>
        <div class="footer">
            <van-tabbar v-model="tabActive" active-color="#DF5523" @change="tabChange">
                <van-tabbar-item :icon="fleaIcon" @click="goToGround">跳蚤</van-tabbar-item>
                <van-tabbar-item :icon="publishIcon" @click="goToPublish">发布</van-tabbar-item>
                <van-tabbar-item :icon="shopcarIcon">购物车</van-tabbar-item>
                <van-tabbar-item :icon="meIcon" @click="goToMe">我的</van-tabbar-item>
            </van-tabbar>
        </div>


    </div>
</body>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            tabActive: 2,
            fleaIcon: "hot-o",
            publishIcon: "share-o",
            shopcarIcon: "shopping-cart",
            meIcon: "manager-o",
            ifAllChecked: false,
            shopcar: [],
            originalShopcar: [],
            checkResult: [],
            ifManage: false,
            navbarRightText: "管理",
            ifBuySheetShow: false,
            areaList: {},
            // // 用一个数组来放已经改变了数量的shopcar下标
            // changed: []
        },
        computed: {
            total: function () {
                if (this.checkResult.length === 0) {
                    return 0;
                }
                else {
                    let total = 0;
                    for (let i = this.checkResult.length - 1; i >= 0; i--) {
                        let count = this.checkResult[i].count;
                        let prize = this.checkResult[i].prize;
                        total = total + count * prize;
                    }
                    return total * 100;
                }
            }
        },
        methods: {
            // 当点击的标签出现变化时，判断是哪一个标签，并把样式修改一下
            tabChange: function () {
                switch (this.tabActive) {
                    case 0: {
                        this.fleaIcon = "hot";
                        this.publishIcon = "share-o";
                        this.shopcarIcon = "shopping-cart-o";
                        this.meIcon = "manager-o";
                        break;
                    };
                    case 1: {
                        this.fleaIcon = "hot-o";
                        this.publishIcon = "share";
                        this.shopcarIcon = "shopping-cart-o";
                        this.meIcon = "manager-o";
                        break;
                    };
                    case 2: {
                        this.fleaIcon = "hot-o";
                        this.publishIcon = "share-o";
                        this.shopcarIcon = "shopping-cart";
                        this.meIcon = "manager-o";
                        break;
                    };
                    case 3: {
                        this.fleaIcon = "hot-o";
                        this.publishIcon = "share-o";
                        this.shopcarIcon = "shopping-cart-o";
                        this.meIcon = "manager";
                        break;
                    }
                }
            },
            goToGround: function () {
                window.location.href = "./groud.html";
            },
            goToPublish: function () {
                window.location.href = "./publish.html";
            },
            goToMe: function () {
                window.location.href = "./me.html";
            },
            singleGoodChecked: function () {
                if (this.checkResult.length === this.shopcar.length) {
                    this.ifAllChecked = true;
                }
                else {
                    this.ifAllChecked = false;
                }
            },
            allGoodChecked: function () {
                // 全选则所有商品都要选上
                if (this.ifAllChecked === true) {
                    this.checkResult = this.shopcar;
                }
                else {
                    this.checkResult = [];
                }
            },
            manageShops: function () {
                this.ifManage = !this.ifManage;
                if (this.navbarRightText === "管理") {
                    this.navbarRightText = "完成";
                }
                else {
                    this.navbarRightText = "管理";
                }
            },
            // 删除购物车内容
            deleteShopcar: function () {
                if (this.checkResult.length === 0) {
                    vant.Toast('请选择商品！');
                }
                else {
                    const logonUserId = sessionStorage.getItem("id");
                    axios.post("http://localhost:5502/shopcarDelete", Qs.stringify({
                        id: logonUserId,
                        shopcar: this.checkResult
                    }))
                        .then(function (response) {
                            vant.Toast('删除成功！请刷新查看');
                            console.log(response.data);
                        })
                        .catch(function (error) {
                            vant.Toast.fail('删除失败');
                            console.log(error);
                        });
                }
            },
            // 确认购买
            buy: function () {
                if (this.checkResult.length != 0) {
                    this.ifBuySheetShow = true;
                }
                else {
                    vant.Toast('请选择商品！');
                }
            },
            // 加入购买历史
            pay: function () {
                const logonUserId = sessionStorage.getItem("id");
                let newHistory = this.checkResult;
                // 获取当前时间的字符串
                let year = new Date().getFullYear().toString();
                let month = (new Date().getMonth() + 1).toString();
                let day = new Date().getDate().toString();
                if (month < 10) {
                    month = "0" + month;
                }
                if (day < 10) {
                    day = "0" + day;
                }
                let time = year + "-" + month + "-" + day;
                for (let i = newHistory.length - 1; i >= 0; i--) {
                    newHistory[i].time = time;
                }
                let that = this;
                axios.post("http://localhost:5502/historyUpdate", Qs.stringify({
                    id: logonUserId,
                    history: newHistory
                }))
                    .then(function (response) {
                        that.ifBuySheetShow = false;
                        for (let i = that.checkResult.length - 1; i >= 0; i--) {
                            delete that.checkResult[i].time;
                        }
                        axios.post("http://localhost:5502/shopcarDelete", Qs.stringify({
                            id: logonUserId,
                            shopcar: that.checkResult,

                        }))
                            .then(function (response) {
                                vant.Toast('购买成功!');
                                console.log(response.data);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        vant.Toast.fail('购买失败!');
                        console.log(error);
                    });
            }
        },
        beforeMount: function () {
            vant.Toast.loading({
                message: '加载中...',
                forbidClick: true,
            });
        },
        mounted: function () {
            const logonUserId = sessionStorage.getItem("id");
            axios.get("http://localhost:5502/getUserInfo").then(res => {
                let userInfo = res.data;
                for (let i = res.data.length - 1; i >= 0; i--) {
                    let id = userInfo[i].user.id;
                    if (logonUserId === id) {
                        this.shopcar = userInfo[i].shopcar.reverse();
                        console.log(this.shopcar);
                        break;
                    }
                }
            });
            axios.get("../js/areaList.json").then(res => {
                this.areaList = res.data;
                vant.Toast.clear;
            })
        }
    })
</script>

</html>